# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio
*/*/.vs/
Game/4K-VSRG-Trainer/sound_test
Game/4K-VSRG-Trainer/x64/
Game/Audio-Device-Detector/x64
BMS/BMS-Parser/x64
BMS/BMS7To4/x64
BMS/BMS-Classify
BMS/BMS-Extract
*/*/*.bms